*.class

# Package Files #
*.war
*.ear
/CRM4telecom/nbproject/private/
/CRM4telecom/CRM4telecom-war/nbproject/private/
/CRM4telecom/CRM4telecom-ejb/nbproject/private/
/CRM4telecom/CRM4telecom-ejb/build/
/CRM4telecom/CRM4telecom-ejb/dist/
/CRM4telecom/CRM4telecom-war/build/
/CRM4telecom/build/
/CRM4telecom/CRM4telecom-war/dist/
/CRM4telecom/dist/
*.db
CRM4telecom/CRM4telecom-ejb/src/conf/persistence.xml
/CRM4telecom_stub/nbproject/private/
/CRM4telecom_stub/CRM4telecom_stub-war/nbproject/private/
/CRM4telecom_stub/CRM4telecom_stub-ejb/nbproject/private/