/*
    HEADER
*/

.header-logo {  
    font-family: Georgia, serif;
    font-size:  16px;
    font-weight: bold !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: -3px !important;
    margin-left: -3px;
}

.ui-menuitem {
    margin-top: 3px !important;
}

h1 {
    font-size:  22px  !important;
    font-weight: bold !important;
    color: #D20005 !important;
    text-align: left !important;
    margin-top: 10px !important;
}

h1>form {
    float: right;
}

h1>form>button {
    margin-right: 6px !important;
}

/*
    CONTENT
*/

legend, fieldset {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

fieldset {
    margin-bottom: 0px !important;
}

legend {
    width: 100px !important;
    margin-bottom: 0px !important;
    font-size: 17px !important;
}

legend .ui-fieldset-toggler {
    margin-top: 3px !important;
}

input {
    width: 100%;
}

pre{
    text-align: left;
    margin: 0;
}

.ui-selectcheckboxmenu {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 4px;
}

.ui-selectcheckboxmenu-trigger,
.ui-selectonemenu-trigger {
    box-sizing: content-box !important;
}

.ui-menuitem-link {
    width: 100% !important;
}

.search-wrap {
    margin-right: 15px;
}

.ui-selectcheckboxmenu-label {
    margin-bottom: 0px;
}

.ui-widget {
    font-size: 13px !important;
}


.ui-datatable, fieldset, .ui-tabs {
    margin-bottom: 10px;
}

.ui-datatable {
    margin-top: 10px;
}

.ui-panelgrid tr:nth-child(even) {
    background-color: #F2F5F9;
}

.ui-fieldset {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0;
    margin-right: 0;
}

.ui-selectcheckboxmenu {
    margin: 5px;
}

.index-button {
    width: 145px;
    font-size: 16px !important;
}

table div.ui-selectcheckboxmenu {
    width: calc(100% - 2px);
    margin-left: 0;
    margin-right: 0;
}

.customer-status {
    margin-right: 6px;
    float: right;
    color: black;
}

.noBorders tr, .noBorders td {
    border: none !important;
}

.ui-panel-content {
    padding: 0 !important;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.statistic {
    font-family: Courier New;
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3; /* Firefox */
    column-count:3;
}

.iconFix .ui-icon {
    margin-left: -9px !important;
    margin-top: -9px !important;
}

h3 a {
    font-size:  22px  !important;
    font-weight: bold !important;
    color: #D20005 !important;
    text-align: left !important;
    margin-top: 10px !important;
    padding: 5px 5px 5px 2.2em !important;
    background: none !important;
    border-bottom: 1px solid black;
}

h3 {
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
} 

.striped dd:nth-child(4n+2) {
    background-color: #F2F5F9;
    border-left: 10px solid #F2F5F9;
}

.striped dt:nth-child(4n+1) {
    background-color: #F2F5F9;
}

.leftcolumn {
    float: right;
    font-weight: bold;
}