/*
    HEADER
*/

#header {
    margin-top: 5px;
}

.header-logo {  
    font-family: Georgia, serif;
    font-size:  16px;
    font-weight: bold !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: -3px !important;
}

.ui-menuitem {
    margin-top: 3px !important;
}

h1 {
    border-bottom: 1px solid #AFAFAF; 
    font-size:  22px  !important;
    font-weight: bold !important;
    color: #D20005 !important;
    text-align: left !important;
    margin-top: 10px !important;
}

h1>form {
    float: right;
}

h1>form>button {
    margin-right: 6px !important;
}

/*
    CONTENT
*/

legend, fieldset {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

fieldset {
    margin-bottom: 10px !important;
}

legend {
    width: 115px !important;
    margin-bottom: 5px !important;
    font-size: 18px !important;
}

legend .ui-fieldset-toggler {
    margin-top: 4px !important;
}

input {
    width: 100%;
}

pre{
    text-align: left;
    margin: 0;
}

.ui-selectcheckboxmenu {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 4px;
}

.ui-selectcheckboxmenu-trigger,
.ui-selectonemenu-trigger {
    box-sizing: content-box !important;
}

.ui-menuitem-link {
    width: 100% !important;
}

.search-wrap {
    margin-right: 15px;
}

.ui-selectcheckboxmenu-label {
    margin-bottom: 0px;
}

.ui-widget {
    font-size: 13px !important;
}


.ui-datatable, fieldset, .ui-tabs {
    margin-bottom: 10px;
}

.ui-datatable {
    margin-top: 10px;
}

.ui-panelgrid tr:nth-child(even) {
    background-color: #F2F5F9;
}

.ui-fieldset {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-left: 0;
    margin-right: 0;
}

.ui-selectcheckboxmenu {
    margin: 5px;
}

.index-button {
    width: 150px;
    font-size: 17px !important;
}

table div.ui-selectcheckboxmenu {
    width: calc(100% - 2px);
    margin-left: 0;
    margin-right: 0;
}

.customer-status {
    margin-right: 6px;
    float: right;
    color: black;
}

.noBorders tr, .noBorders td {
    border: none !important;
}

.ui-panel-content {
    padding: 0 !important;
}
