/*
    COMMON
*/

body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
    text-align: left;
}

#header {
    position: relative;
    margin-bottom: 10px;
}

#content {
    position: relative;
}

.header-logo {  
    font-family: Georgia, serif;
    font-size:  16px;
    font-weight: bold !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-widget {
    font-size: 13px !important;
}

h1>form {
    float: right;
}

h1>form>button {
    margin-right: 6px !important;
}

.ui-datatable, h1, fieldset, .ui-tabs {
    margin-bottom: 10px;
}

#index-content {
    margin-top: 50px;
}

.ui-fieldset {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-left: 0;
    margin-right: 0;
}

.ui-selectcheckboxmenu {
    margin: 5px;
}

pre{
    text-align: left;
    margin: 0;
}

.index-button {
    width: 120px;
}

.table-2, .table-3, .table-4 {
    width: 100%;
}

.table-2 {
    border-spacing: 0 !important;
}
.table-2 tr>td {
    width: 50%;
}

.table-2 tr>td:nth-child(1) {
    padding-left: 0;
}

.table-2 tr>td:nth-child(2) {
    padding-right: 0;
}

.table-3 tr>td:nth-child(1) {
    width: 100px;
    text-align: right;
    font-weight:bold;
}

.table-3 tr>td:nth-child(2) {
    width: calc(50% - 100px);
}

.table-3 tr>td:nth-child(3) {
    width: calc(50% - 100px);
}

.table-4 tr>td:nth-child(odd) {
    width: 100px;
    text-align: right;
    font-weight:bold;
}

.table-4 tr>td:nth-child(even) {
    width: calc(50% - 100px);
}

.table-4 td>div {
    vertical-align: middle;
}

table input {
    width: calc(100% - 10px);
}

table input.hasDatepicker {
    width: calc(50% - 35px) !important;
}

#searchForm\:toDate_input {
    float: right;
}

table div.ui-selectcheckboxmenu {
    width: calc(100% - 2px);
    margin-left: 0;
    margin-right: 0;
}

/*
    ORDER INFO
*/
.oinfo-container {
    padding: 0 360px 0 0;
}

.oinfo-left {
    float: right;
    margin-left: -100%;
    width: 100%;
    position: relative; 
}

.oinfo-right {
    float: right;
    width: 350px;
    margin-right: -360px;
    overflow: visible;
    position: relative;
}